@import "tailwindcss";

@theme {
  --color-greyOne: #dadad2;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
